<style>
     *{font-family: "맑은 고딕",Arial, Helvetica, sans-serif;}
    header h1{
        font-size: x-large;
    }
    a{text-decoration: none;}
    ul{list-style-type: none;}
    nav ul{
        text-align: center;
        border-top: 2px solid indigo;
        border-bottom: 2px solid indigo;
        padding: 15px 0px;
    }
    nav ul li{
        display: inline;
        text-transform: uppercase;
        letter-spacing: 5px;
        padding : 15px 25px;
    }
    nav ul li:hover{
        background-color: indigo;
    }
    nav ul a:hover{
        color: white;
    }
</style>