/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;}
html {height:100%;}
body {height:100%;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none; }
a:active {text-decoration:none;}
img{border:0px;}
li{list-style: none;}
table{border-collapse:collapse;width:100%;}
address,caption,cite,code,dfn,em,var,h1,h2,h3,h4,h5,h6 {font-style:normal;font-weight:normal;}
caption,legend,caption *,legend *{position:absolute; left:-10000px; line-height:0; font-size:0;}
fieldset{border:solid 0px black;padding:0;}
button{border:none; background:none; cursor:pointer; outline:none;}
div {box-sizing:border-box !important;}

body,a,[type=text], [type=password], [type=file], [type=email], [type=number], [type=tel],select,h1, h2, h3, h4, h5, h6, pre,textarea{
font-family: 'Noto Sans KR', sans-serif; font-size:16px;  color:#000; font-weight:400; outline:0;}

body {overflow-x:hidden;}



/*float ����*/
* html .clfx { height: 1%; overflow: visible;} /* IE6 float ����*/
*+html .clfx{ min-height: 1%;} /* IE7 float ���� */
.clfx:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}
.clfix{clear: both; content: "."; display: block; height: 0;}

.hid{display:none;}
.br {display:block;}


/*�߾�*/
.psc-y {transform:translateY(-50%); -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%);}
.psc-x {transform:translateX(-50%); -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%);}
.psc {transform:translate(-50%); -webkit-transform:translate(-50%); -ms-transform:translate(-50%);}

/*margin*/
.mr0 {margin:0px !important;}
.mr10 {margin:10px !important;}
.mr15 {margin:10px !important;}
.mr20 {margin:10px !important;}
.mr25 {margin:10px !important;}
.mr30 {margin:10px !important;}
.mr35 {margin:10px !important;}
.mr40 {margin:10px !important;}
.mr45 {margin:10px !important;}
.mr50 {margin:10px !important;}
.mr55 {margin:10px !important;}
.mr60 {margin:10px !important;}
.mr65 {margin:10px !important;}
.mr70 {margin:10px !important;}
.mr75 {margin:10px !important;}
.mr80 {margin:10px !important;}
.mr85 {margin:10px !important;}
.mr90 {margin:10px !important;}
.mr95 {margin:10px !important;}
.mr100 {margin:10px !important;}

.mrl0 {margin-left:0px !important;}
.mrl10 {margin-left:10px !important;}
.mrl15 {margin-left:10px !important;}
.mrl20 {margin-left:10px !important;}
.mrl25 {margin-left:10px !important;}
.mrl30 {margin-left:10px !important;}
.mrl35 {margin-left:10px !important;}
.mrl40 {margin-left:10px !important;}
.mrl45 {margin-left:10px !important;}
.mrl50 {margin-left:10px !important;}
.mrl55 {margin-left:10px !important;}
.mrl60 {margin-left:10px !important;}
.mrl65 {margin-left:10px !important;}
.mrl70 {margin-left:10px !important;}
.mrl75 {margin-left:10px !important;}
.mrl80 {margin-left:10px !important;}
.mrl85 {margin-left:10px !important;}
.mrl90 {margin-left:10px !important;}
.mrl95 {margin-left:10px !important;}
.mrl100 {margin-left:10px !important;}

.mrr0 {margin-right:0px !important;}
.mrr10 {margin-right:10px !important;}
.mrr15 {margin-right:10px !important;}
.mrr20 {margin-right:10px !important;}
.mrr25 {margin-right:10px !important;}
.mrr30 {margin-right:10px !important;}
.mrr35 {margin-right:10px !important;}
.mrr40 {margin-right:10px !important;}
.mrr45 {margin-right:10px !important;}
.mrr50 {margin-right:10px !important;}
.mrr55 {margin-right:10px !important;}
.mrr60 {margin-right:10px !important;}
.mrr65 {margin-right:10px !important;}
.mrr70 {margin-right:10px !important;}
.mrr75 {margin-right:10px !important;}
.mrr80 {margin-right:10px !important;}
.mrr85 {margin-right:10px !important;}
.mrr90 {margin-right:10px !important;}
.mrr95 {margin-right:10px !important;}
.mrr100 {margin-right:10px !important;}

.mrt0 {margin-top:0px !important;}
.mrt10 {margin-top:10px !important;}
.mrt15 {margin-top:10px !important;}
.mrt20 {margin-top:10px !important;}
.mrt25 {margin-top:10px !important;}
.mrt30 {margin-top:10px !important;}
.mrt35 {margin-top:10px !important;}
.mrt40 {margin-top:10px !important;}
.mrt45 {margin-top:10px !important;}
.mrt50 {margin-top:10px !important;}
.mrt55 {margin-top:10px !important;}
.mrt60 {margin-top:10px !important;}
.mrt65 {margin-top:10px !important;}
.mrt70 {margin-top:10px !important;}
.mrt75 {margin-top:10px !important;}
.mrt80 {margin-top:10px !important;}
.mrt85 {margin-top:10px !important;}
.mrt90 {margin-top:10px !important;}
.mrt95 {margin-top:10px !important;}
.mrt100 {margin-top:10px !important;}

.mrb0 {margin-bottom:0px !important;}
.mrb10 {margin-bottom:10px !important;}
.mrb15 {margin-bottom:10px !important;}
.mrb20 {margin-bottom:10px !important;}
.mrb25 {margin-bottom:10px !important;}
.mrb30 {margin-bottom:10px !important;}
.mrb35 {margin-bottom:10px !important;}
.mrb40 {margin-bottom:10px !important;}
.mrb45 {margin-bottom:10px !important;}
.mrb50 {margin-bottom:10px !important;}
.mrb55 {margin-bottom:10px !important;}
.mrb60 {margin-bottom:10px !important;}
.mrb65 {margin-bottom:10px !important;}
.mrb70 {margin-bottom:10px !important;}
.mrb75 {margin-bottom:10px !important;}
.mrb80 {margin-bottom:10px !important;}
.mrb85 {margin-bottom:10px !important;}
.mrb90 {margin-bottom:10px !important;}
.mrb95 {margin-bottom:10px !important;}
.mrb100 {margin-bottom:10px !important;}



/*padding*/
.pd0 {padding:0px !important;}
.pd10 {padding:10px !important;}
.pd15 {padding:10px !important;}
.pd20 {padding:10px !important;}
.pd25 {padding:10px !important;}
.pd30 {padding:10px !important;}
.pd35 {padding:10px !important;}
.pd40 {padding:10px !important;}
.pd45 {padding:10px !important;}
.pd50 {padding:10px !important;}
.pd55 {padding:10px !important;}
.pd60 {padding:10px !important;}
.pd65 {padding:10px !important;}
.pd70 {padding:10px !important;}
.pd75 {padding:10px !important;}
.pd80 {padding:10px !important;}
.pd85 {padding:10px !important;}
.pd90 {padding:10px !important;}
.pd95 {padding:10px !important;}
.pd100 {padding:10px !important;}

.pdl0 {padding-left:0px !important;}
.pdl10 {padding-left:10px !important;}
.pdl15 {padding-left:10px !important;}
.pdl20 {padding-left:10px !important;}
.pdl25 {padding-left:10px !important;}
.pdl30 {padding-left:10px !important;}
.pdl35 {padding-left:10px !important;}
.pdl40 {padding-left:10px !important;}
.pdl45 {padding-left:10px !important;}
.pdl50 {padding-left:10px !important;}
.pdl55 {padding-left:10px !important;}
.pdl60 {padding-left:10px !important;}
.pdl65 {padding-left:10px !important;}
.pdl70 {padding-left:10px !important;}
.pdl75 {padding-left:10px !important;}
.pdl80 {padding-left:10px !important;}
.pdl85 {padding-left:10px !important;}
.pdl90 {padding-left:10px !important;}
.pdl95 {padding-left:10px !important;}
.pdl100 {padding-left:10px !important;}

.pdr0 {padding-right:0px !important;}
.pdr10 {padding-right:10px !important;}
.pdr15 {padding-right:10px !important;}
.pdr20 {padding-right:10px !important;}
.pdr25 {padding-right:10px !important;}
.pdr30 {padding-right:10px !important;}
.pdr35 {padding-right:10px !important;}
.pdr40 {padding-right:10px !important;}
.pdr45 {padding-right:10px !important;}
.pdr50 {padding-right:10px !important;}
.pdr55 {padding-right:10px !important;}
.pdr60 {padding-right:10px !important;}
.pdr65 {padding-right:10px !important;}
.pdr70 {padding-right:10px !important;}
.pdr75 {padding-right:10px !important;}
.pdr80 {padding-right:10px !important;}
.pdr85 {padding-right:10px !important;}
.pdr90 {padding-right:10px !important;}
.pdr95 {padding-right:10px !important;}
.pdr100 {padding-right:10px !important;}

.pdt0 {padding-top:0px !important;}
.pdt10 {padding-top:10px !important;}
.pdt15 {padding-top:10px !important;}
.pdt20 {padding-top:10px !important;}
.pdt25 {padding-top:10px !important;}
.pdt30 {padding-top:10px !important;}
.pdt35 {padding-top:10px !important;}
.pdt40 {padding-top:10px !important;}
.pdt45 {padding-top:10px !important;}
.pdt50 {padding-top:10px !important;}
.pdt55 {padding-top:10px !important;}
.pdt60 {padding-top:10px !important;}
.pdt65 {padding-top:10px !important;}
.pdt70 {padding-top:10px !important;}
.pdt75 {padding-top:10px !important;}
.pdt80 {padding-top:10px !important;}
.pdt85 {padding-top:10px !important;}
.pdt90 {padding-top:10px !important;}
.pdt95 {padding-top:10px !important;}
.pdt100 {padding-top:10px !important;}

.pdb0 {padding-bottom:0px !important;}
.pdb10 {padding-bottom:10px !important;}
.pdb15 {padding-bottom:10px !important;}
.pdb20 {padding-bottom:10px !important;}
.pdb25 {padding-bottom:10px !important;}
.pdb30 {padding-bottom:10px !important;}
.pdb35 {padding-bottom:10px !important;}
.pdb40 {padding-bottom:10px !important;}
.pdb45 {padding-bottom:10px !important;}
.pdb50 {padding-bottom:10px !important;}
.pdb55 {padding-bottom:10px !important;}
.pdb60 {padding-bottom:10px !important;}
.pdb65 {padding-bottom:10px !important;}
.pdb70 {padding-bottom:10px !important;}
.pdb75 {padding-bottom:10px !important;}
.pdb80 {padding-bottom:10px !important;}
.pdb85 {padding-bottom:10px !important;}
.pdb90 {padding-bottom:10px !important;}
.pdb95 {padding-bottom:10px !important;}
.pdb100 {padding-bottom:10px !important;}


/*width*/
.w-10 {width:10%;}
.w-20 {width:20%;}
.w-30 {width:30%;}
.w-40 {width:40%;}
.w-50 {width:50%;}
.w-60 {width:60%;}
.w-70 {width:70%;}
.w-80 {width:80%;}
.w-90 {width:90%;}
.w-100 {width:100%;}

/*text-align*/
.txt-r{text-align:right !important;}
.txt-l{text-align:left !important;}
.txt-c{text-align:center !important;}

/*background*/
.back-no{background:none !important;}

/*border*/
.bd-l{border-left:none !important;}
.bd-r{border-right:none !important;}

/*ir*/
.ir{overflow:hidden;line-height:0 !important;font-size:0 !important;position:relative;text-indent:-10000px;/*display:inline-block;*/}
.ir *{position:absolute;left:-10000px;top:-10000px;margin:0;padding:0;}

/*float*/
.f-l{float:left;}
.f-r{float:right;}

